<section class="section">
    <div class="container">
        <h2 class="title">Our advantages</h2>
        <div class="advantages-wrapper">
            <ul class='advantages-list'>
                <li class="advantages-list__item">
                    <svg width="17" height="17">
                        <use href="/assets/icons/sprite.svg#star"></use>
                    </svg>
                </li>
                <li class="advantages-list__item">
                    <svg width="17" height="17">
                        <use href="/assets/icons/sprite.svg#star"></use>
                    </svg>
                </li>
                <li class="advantages-list__item">
                    <svg width="17" height="17">
                        <use href="/assets/icons/sprite.svg#star"></use>
                    </svg>
                </li>
                <li class="advantages-list__item">
                    <svg width="17" height="17">
                        <use href="/assets/icons/sprite.svg#star"></use>
                    </svg>
                </li>
                <li class="advantages-list__item">
                    <svg width="17" height="17">
                        <use href="/assets/icons/sprite.svg#star"></use>
                    </svg>
                </li>
                <li class="advantages-list__item">
                    <svg width="17" height="17">
                        <use href="/assets/icons/sprite.svg#star"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>