@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-light: #f7fbfb;
    --color-primary: #1b1d1b;
    --color-secondary: #202321;
    --color-accent: #5b86a1;

    --font-montserrat: 'Montserrat', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --font-playfair: 'Playfair Display', serif;
    --font-gilroy: 'Gilroy', sans-serif;
}

body {
    background-color: var(--color-light);
    color: var(--color-secondary);
    font-family: var(--font-montserrat);
    font-size: 16px;
}

svg, img {
    display: block;
}
img {
    max-width: 100%;
}
button {
    display: block;
    background: transparent;
    border: none;
}
.container {
    width: 100%;
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 32px;
}
.logo {
    width: 40px;
    height: 40px;
    color: var(--color-light);
}
.hero-img {
    position: relative;
    background-image: url('./assets/images/hero/hero_desk_1920.webp');
    min-height: 100dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero__title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: var(--color-light);
    margin-bottom: 60px;
}
.hero__sub-title {
    color: var(--color-light);
    text-align: center;
    margin-bottom: 88px;
}

.hero__button {
    padding: 15px 91px;
    background-color: var(--color-accent);
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--color-light);
}